.container {
	
	position: relative;
	
	right: -120%;
	
	font-family: 'Estonia', cursive;
	font-weight: 900;
	
	filter: drop-shadow(0px 0px 5px chocolate);
	
	letter-spacing: 2px;
	font-size: 32px;
	color: white;
	text-shadow: 0px 0px 2px black;

	background-color: chocolate;

	display: flex;
	justify-content: space-around;
}

.left {
	margin: 10px;
	width: 80%;
}

.left p {
		text-indent: 20px;
}

.right {
	margin: 10px;
	text-align: right;
	width: 80%;
}

.right p {
	text-indent: 20px;
}

img {
	margin: 20px 20px;

	filter: drop-shadow(0px 0px 18px bisque);

	transition-property: filter;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

img:hover {
	filter: drop-shadow(0px 0px 9px bisque);
	cursor: pointer;
}
