@import url('https://fonts.googleapis.com/css2?family=Petemoss&display=swap');

html {
	background-image: url("components/images/brick-wallpaper.png");
}

body {

  margin: 0 auto;
  font-family: 'Petemoss', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  width: 80%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
