/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo Page styles */
@import 'demo';

@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
	
header > h1 {
	font-family: "Ephesis", sans-serif;
	font-size: 54px;
}

h3 {
	font-family: "Ephesis", sans-serif;
}

navbar > p {
	text-align: center;
	width: 100%;
}

navbar > p > a {
	padding: 0 10px 0 10px;
}

navbar > p > a:hover {
	color: white;
	background-color: black;
}

main > p > img {
	padding: 10px;
	margin: 0 auto;
}
